<div class="column gap-1 wrapper full-center">
  <img
    [src]="media.imageUrl"
    [alt]="media.title"
    [routerLink]="'/' + mediaType + '/info/' + media.id"
  />
  <h2 class="title">{{ media.title | truncateString : 20 : "..." }}</h2>
  <h4 *ngIf="media.movieRole == 'ACTOR'">{{ "As " + media.characterName }}</h4>
  <h4 *ngIf="media.movieRole == 'DIRECTOR'">
    {{ "As Director" }}
  </h4>
  <h4 *ngIf="media.movieRole == 'WRITER'">{{ "As Writer" }}</h4>
  <h4 *ngIf="media.movieRole == 'PRODUCER'">
    {{ "As Producer" }}
  </h4>

  <p>Released: {{ media.releaseDate }}</p>

  <p-rating
    [(ngModel)]="stars"
    [readonly]="true"
    iconCancelClass="hidden"
  ></p-rating>
  <p>{{ media.likes }} <i class="pi pi-thumbs-up"></i></p>
  <p>{{ media.description | truncateString : 75 : "..." }}</p>
</div>
