<p-dialog
  header="Add Review"
  [(visible)]="display"
  [modal]="true"
  [closable]="false"
>
  <div class="column gap-1" [formGroup]="reviewForm">
    <div class="row gap-05">
      <label for="rating">Rating:</label>
      <p-rating
        formControlName="reviewScore"
        [readonly]="false"
        iconCancelClass="hidden"
      ></p-rating>
    </div>
    <div class="row gap-05">
      <label for="review">Review:</label>
      <textarea formControlName="writenReview" rows="5" cols="30"></textarea>
    </div>
  </div>
  <p-footer>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      (click)="onConfirm()"
      label="Confirm"
      [class.disabled]="!reviewForm.valid"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-times"
      (click)="onCancel()"
      label="Cancel"
    ></button>
  </p-footer>
</p-dialog>
