<div class="column gap-1 full-center mh-5">
  <p-button label="Add Movie" (onClick)="toggleAddMovie()"></p-button>
  <div class="searchBar row gap-1 full-center" [formGroup]="searchParamsForm">
    <div class="row gap-1 full-center">
      <label for="name">Title</label>
      <input
        pInputText
        formControlName="title"
        type="text"
        id="Title"
        placeholder="Title"
      />
    </div>
    <div class="row gap-1 full-center">
      <label for="developer">Cast</label>
      <p-multiSelect
        [options]="cast"
        formControlName="crewIds"
        optionLabel="name"
        placeholder="Select Cast members"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
      >
      </p-multiSelect>
    </div>
    <button
      pButton
      type="button"
      label="Search"
      (click)="changeParams()"
      class="p-button-raised p-button-rounded"
    ></button>
  </div>
  <app-media-list
    [medias]="movies"
    [size]="size"
    [totalRecords]="totalRecords"
    (onPageChange)="onPageChange($event)"
    [(resetPaginator)]="resetPage"
  ></app-media-list>
</div>

<app-add-movie [(display)]="addMovieDisplay" [crew]="cast"></app-add-movie>
