<div class="column gap-2">
  <div class="img-container">
    <img src="{{ media.imageUrl }}" alt="{{ media.title }}" />
  </div>
  <h2>{{ media.title }}</h2>
  <div class="row gap-1">
    <div>
      <p>Likes: {{ media.likes }}</p>
      <p-button
        [label]="isLiked ? 'Dislike' : 'Like'"
        [icon]="isLiked ? 'pi pi-heart' : 'pi pi-heart-fill'"
        iconPos="right"
        (onClick)="isLiked ? dislike() : like()"
        [disabled]="!isLogged"
      ></p-button>
    </div>
    <div>
      <p>Rating: {{ media.averageRating }}</p>
      <p-button
        [label]="review.id !== -1 ? 'Edit Review' : 'Review'"
        [icon]="review.id !== -1 ? 'pi pi-pencil' : 'pi pi-comment'"
        iconPos="right"
        (onClick)="reviewToggle()"
        [disabled]="!isLogged"
      ></p-button>
    </div>
  </div>
</div>
