<div class="wrapper column gap-2 full-center">
  <div class="img-container">
    <img [src]="media.imageUrl" [alt]="media.title" class="media-img" />
  </div>
  <h2>{{ media.title }}</h2>
  <div class="row gap-1 mb-1">
    <div class="column gap-05 mt">
      <div class="row gap-05 full-center">
        <p>{{ media.likes }}</p>
        <i class="pi pi-thumbs-up"></i>
      </div>
      <p-button
        [label]="isLiked ? 'Dislike' : 'Like'"
        [icon]="isLiked ? 'pi pi-heart' : 'pi pi-heart-fill'"
        iconPos="right"
        (onClick)="isLiked ? dislike() : like()"
        [disabled]="!isLogged"
      ></p-button>
    </div>
    <div class="column gap-05">
      <p-rating
        [(ngModel)]="media.averageRating"
        [readonly]="true"
        iconCancelClass="hidden"
      ></p-rating>
      <p-button
        [label]="review.id !== -1 ? 'Edit Review' : 'Review'"
        [icon]="review.id !== -1 ? 'pi pi-pencil' : 'pi pi-comment'"
        iconPos="right"
        (onClick)="reviewToggle()"
        [disabled]="!isLogged"
      ></p-button>
    </div>
  </div>
</div>
