@import "primeicons/primeicons.css";

html,
body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
app-root {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.full-center {
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.pad-1 {
  padding: 1rem;
}

.pad-2 {
  padding: 2rem;
}

.mh-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1{
  margin-bottom: 1rem;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}

.liked-media {
  .p-paginator {
    width: 10rem;
  }
}

.p-dataview{
  border: 1px solid #2d2d2d;
}

.p-carousel-container {
  background-color: #1f2937;
  border-radius: 5px;
  border: 1px solid #2d2d2d;
}

.p-carousel-item{
  height: 30rem;
}

.p-divider{
  margin-bottom: 0;
}