.reviewsContainer {
  border-top: 2px solid black;

  .reviewContainer {
    border: 2px solid black;
    border-top: none;
    background-color: #1f2937;
  }
  .review-left {
    border-right: 2px solid black;
    padding: 1rem;
  }

  .review-right {
    padding-left: 0;
  }
}

.wrapper {
}
