<div class="wrapper">
  <div *ngIf="game" class="row gap-2">
    <app-media-page-title-card
      [media]="game"
      [(isLiked)]="isLiked"
      [(review)]="review"
      (reviewMedia)="toggleReviewPopUp($event)"
    ></app-media-page-title-card>
    <div class="column gap-05">
      <h3>Released:</h3>
      <p>{{ game.releaseDate | date : "longDate" }}</p>
      <h3>Developer:</h3>
      <a [routerLink]="'../../developer/' + game.developer.id">
        <p class="clickable">{{ game.developer.developerName }}</p></a
      >
      <h3>Genres:</h3>
      <ul class="propertie-list">
        <li *ngFor="let genre of game.genres">
          <a [routerLink]="'../../genre/' + genre.id"
            ><p class="clickable">{{ genre.genreName }}</p></a
          >
        </li>
      </ul>
      <h3>Platforms:</h3>
      <ul class="propertie-list">
        <li *ngFor="let platform of game.platforms">
          <a [routerLink]="'../../platform/' + platform.id"
            ><p class="clickable">
              {{ platform.platformName }}
            </p></a
          >
        </li>
      </ul>
      <h3>Description:</h3>
      <p class="description">{{ game.description }}</p>
    </div>
  </div>
  <app-media-reviews *ngIf="game" [mediaId]="game.id"></app-media-reviews>
</div>

<app-review-pop-up
  *ngIf="game"
  [mediaId]="game.id"
  [(display)]="displayReviewPopUp"
  [review]="review"
></app-review-pop-up>
